<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- This bean is resolved into other classes by its name reference -->
    <bean name="fooCustomerRepository"
          class="com.home.repository.CustomerRepositoryImpl"/>

    <!-- 1. Constructor injection -->
    <!--<bean name="fooCustomerService" class="com.home.service.CustomerServiceImpl">-->
        <!--<constructor-arg index="0" ref="fooCustomerRepository"/>-->
    <!--</bean>-->


    <!-- 2. Setter injection -->
    <!--<bean name="fooCustomerService" class="com.home.service.CustomerServiceImpl">
        <property name="customerRepository" ref="fooCustomerRepository"/>
    </bean>
    -->
    <!-- 2. Setter injection with shorthand property set -->
    <bean name="fooCustomerService" class="com.home.service.CustomerServiceImpl"
          p:customerRepository-ref="fooCustomerRepository"
    />


    <!-- 3. Through autowire -->
    <!--<bean name="fooCustomerService"-->
          <!--class="com.home.service.CustomerServiceImpl" autowire="constructor">-->
    <!--</bean>-->

</beans>